
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Login Page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <style>
      .border{
        border: 20px solid black;
      }
      .form-group {
        margin-top: 30px;
      }
      h2 {
        margin-bottom: 50px;
        text-align: center;
      }
    </style>
  </head>
  <body>
    <div class="container my-4 p-5 border">
      <h2>Login Page</h2>
      <form action="tasks.html">
        <div class="form-group">
          <label for="username">Username:</label>
          <input type="text" class="form-control" id="username" name="username" required>
        </div>
        <div class="form-group">
          <label for="password">Password:</label>
          <input type="password" class="form-control" id="password" name="password" required>
        </div>
        <div class="form-group">
          <input type="button" value="Submit" class="btn btn-primary" onclick="login()">
        </div>
      </form>
    </div>
  </body>
  <script>
    function login() {
      let axiosConfig = {
        headers: {
            'Content-Type': 'application/json;charset=UTF-8',
            "Access-Control-Allow-Origin": "*",
        }
      };
      const username = document.getElementById("username").value;
      const password = document.getElementById("password").value;
      
      axios.post("/api/auth/signin", { username, password }, axiosConfig)
      .then(res => {
        // check if the login was successful
        if (res.data.success) {
          // if successful, redirect the user to the appropriate page
          window.location.href = res.data.redirectTo;
        }
      })
      .catch(error => {
        console.log('not done');
      });
    }
  </script>
</html>
